body {
    padding-top: 60px;
}

/*
h1, h1 > span {
    color: #fed200;
}

h3 > span {
    color: #cca69a;
}
*/

.ordernow {
    background-color: #ff9334;
    border-color: #ff9400;
}

/*
.blue {
    color: #30A4EE;
}
*/